
@{
    ViewBag.Title = "chooseinstallmentplaneiphonex256gb";
}

<br /><br />
<div class="container">
    <div class="col-md-12">
        <img src="~/images/iphonex detail.JPG" />
    </div>
    <div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp;    &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;     <button class="btn btn-success"><font class="glyphicon glyphicon-shopping-cart"></font> @Html.ActionLink("Apply Online", "Create", "User_Table")</button>
    </div>
    <br />
    
</div>


