
@{
    ViewBag.Title = "InstallmentProcedure";
}
<br /><br />
     <div class="container">
    <h2 color="black">Installment Procedure</h2>
    <div class="col-md-12">

        <img src="~/images/Installment procedure.PNG" />
    </div>

    <div class="col-md-12">

        <img src="~/images/Capture2.JPG" />


    </div>
</div>
